%div.table-responsive
  %table
    %thead
      %tr
        %th
          Contact
        %th
          Division - Department
    %tbody
      - data.people_business_partners.each do |pbp|
        %tr
          %td
            = pbp["name"]
          %td
            = pbp['divisions_or_departments'].join(', ')
