| Level | Meaning |
| ------|---------|
| <%= color_code_instrumentation(3) %> | We are correctly capturing and measuring data for GitLab.com and self-managed instances. |
| <%= color_code_instrumentation(2) %> | Missing one of: GitLab.com or self-managed data. |
| <%= color_code_instrumentation(1) %> | Missing both: GitLab.com and self-managed data. |
| <%= color_code_instrumentation(0) %> | Unknown |
