---
layout: default
title: "Learn@GitLab"
suppress_header: true
extra_css:
  - team.css
---

-# THE CONTENT FOR THIS PAGE IS IN https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/learn_videos.yml
.wrapper
  .container
    .team-head
      %h1
        LEARN@
        %b GITLAB
      %p.text-center Welcome to Learn@GitLab! It's here to provide you a deeper look into GitLab, how it works, and how it might be able to help you. It's organized by the biggest challenges we see folks come to GitLab looking to solve.
    
    %p.text-center<
      %h2.text-center="Version Control and Collaboration"
      - data.learn.each do |l|
        - if l.use_case == "Version Control and Collaboration"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.text-center="Continuous Integration"
      - data.learn.each do |l|
        - if l.use_case == "Continuous Integration"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.text-center="DevSecOps"
      - data.learn.each do |l|
        - if l.use_case == "DevSecOps"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.text-center="Agile Management"
      - data.learn.each do |l|
        - if l.use_case == "Agile Management"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.text-center="Simplify DevOps"
      - data.learn.each do |l|
        - if l.use_case == "Simplify DevOps"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.text-center="Cloud Native"
      - data.learn.each do |l|
        - if l.use_case == "Cloud Native"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.text-center="GitOps"
      - data.learn.each do |l|
        - if l.use_case == "GitOps"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.text-center="Remote"
      - data.learn.each do |l|
        - if l.use_case == "Remote"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type
      %br

      %h2.text-center="Other"
      - data.learn.each do |l|
        - if l.use_case == "Other"
          %p.text-center<
            = link_to l.title, l.link, target: :_blank
            = ", type: " + l.asset_type