---
layout: handbook-page-toc
title: "Engineering Career Framework: Senior"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Engineering Department Competencies: Senior

**Seniors at GitLab are expected to exhibit the following competencies:**

* [Senior Leadership Competencies](#senior-leadership-competencies)
* [Senior Technical Competencies](#senior-technical-competencies)
* [Senior Values Alignment](#senior-values-alignment)
* [All competencies exhibited by an Intermediate](/handbook/engineering/career-development/matrix/engineering/intermediate) 
 
---
 
### Senior Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_leadership_competency.erb") %>
  
### Senior Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_technical_competency.erb") %>
  
### Senior Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/values_competency.erb") %> 
