---
layout: default
title: GitLab Virtual Meetups
description: "Find upcoming virtual meetups and learn to organize your own."
suppress_header: true
extra_css:
  - meetups.css
  - events.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - events.js
---
.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Virtual Meetups
    %p Connect with the GitLab community through our global GitLab virtual meetups. 
    = link_to "Join our virtual meetup group", "https://www.meetup.com/gitlab-virtual-meetups/", class: "btn cta-btn purple-reverse"

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-xl.js-in-page-nav-section#attend-a-virtual-meetup
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Why we love virtual meetups

          %p Virtual meetups help community members connect with and learn from other members of our global community. They can also help local communities remain connected when in-person events are not possible.

          %p Our goals in supporting these events are to grow our community, better engage with and increase connections within the GitLab community, increase awareness of GitLab, and better educate the technology community about the power of our platform.

          %p
            Virtual meetups have many advantages over in-person events.
          
          %ul
            %li They can be more diverse and inclusive. Anyone with an internet connection is able to contribute.
            %li They can be more efficient. No travel is required and the events are more structured by necessity. 
            %li They can deliver better results. They can attract much larger audiences than in-person events and some of the forcing functions increase participation. 
            %li They can be more collaborative. Most attendees will have a personal computer in front of them so hands-on exercises and demos can be more robust and easier to follow.
      
      .row.u-margin-top-xl.js-in-page-nav-section#organize-a-virtual-meetup
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Organize a virtual meetup

          %p
            We maintain a
            =link_to "comprehensive checklist", "/community/meetups/checklist#planning-a-virtual-meetup"
            to help organizers plan virtual meetups. 

          %p
            If you are ready to begin planning a virtual meetup with support from GitLab, please open an issue using our
            =link_to "meetup issue template.", "https://gitlab.com/gitlab-com/marketing/community-relations/evangelist-program/general/issues/new?issuable_template=meetup-organizer"
            The only requirements for organizers are a passion for GitLab and a belief in our
            =link_to "mission.", "https://about.gitlab.com/company/strategy/#mission"
            If you would like to help getting started or have questions about virtual meetups, you are invited to
            = link_to "schedule a Zoom call", "https://calendly.com/jcoghlan"
            with GitLab's Evangelist Program Manager.

      .row.u-margin-top-xl.js-in-page-nav-section#resources
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Resources for organizers

          %p Here’s a list of resources on Meetups that we curated to help you get started.

          .resource-block.resource-block--resources.u-margin-top-md

            %ul.resource-list.list-unstyled
              %li.resource-list-item
                %h4.resource-title
                  = link_to "Virtual Meetup Planning Checklist", "/community/meetups/checklist#planning-a-virtual-meetup"
                %span.resource-author Start here.

              %li.resource-list-item
                %h4.resource-title
                  = link_to "GitLab Logos", "https://about.gitlab.com/press/press-kit/#logos"
                %span.resource-author All the tanukis.

              %li.resource-list-item
                %h4.resource-title
                  =link_to "Communication Templates", "https://drive.google.com/open?id=1xglxuxFcxATpQ0ZajYvYu5aIyEK7TvTK"
                %span.resource-author Get a head start on your communications.

              %li.resource-list-item
                %h4.resource-title
                  =link_to "Feedback Form", "https://docs.google.com/forms/d/167QK2Oudqrdu_hpRCK45G7WDW65IDV63XWgjKa6Srrw/edit"
                %span.resource-author A three-question survey to help you and your community.

      .row.u-margin-top-xl.js-in-page-nav-section#upcoming-events
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Upcoming virtual meetups

          %p
            We welcome everyone from the GitLab community to participte in our virtual meetups. Attending a virtual meetup is typically as simple as joining a video call. 
            
          %p
            You can find upcoming GitLab virtual meetups listed below and on our
            =link_to "Events page.", "/events"
            Many local communities publish their upcoming events (both virtual and in-person) on Meetup.com. You can find those events on 
            =link_to "GitLab's Meetup Pro page.", "https://www.meetup.com/pro/gitlab"
          
          %hr.u-margin-top-md.u-margin-bottom-md


%ul.tile.event-list{role: "navigation"}
  - Gitlab::Homepage::Event.all!.sort.each do |event|
    - ev_date_ends = Date.parse(event.date_ends)
    - if ev_date_ends >= Date.today && event.type == 'Meetup'
      %li{ data: { region: event.region ? event.region : '', type: event.type ? event.type : '' } }
        .event-headers.flex-wrap-md
          %h3.event-topic
            = event.type == 'Diversity' ? '(Diversity Sponsorship) ' + event.topic : event.topic
          %h3.event-date
            = event.date
        .event-subheaders.flex-wrap-md
          .event-description
            - if event.type == 'Diversity'
              %p
                This event is being supported through a GitLab diversity sponsorship, with no GitLab-specific content.
            - else
              = kramdown(event.description)

          %p.event-location
            = event.location
        .social-tags.visible-xs-block
          - event.social_tags&.split(',')&.each do |tag|
            %a.social-tag{ href: "https://www.twitter.com/hashtag/#{tag}", target: "_blank" }
              %i.fab.fa-twitter
              = "##{tag}"
        .event-buttons.flex-wrap-md
          .social-tags.hidden-xs
            - event.social_tags&.split(',')&.each do |tag|
              %a.social-tag{ href: "https://www.twitter.com/hashtag/#{tag}", target: "_blank" }
                %i.fab.fa-twitter
                = "##{tag}"
          - if event.url
            %a.btn.cta-btn.accent{href:event.url} Join Us!
          - else
            - if event.event_url.nil?
              %button.btn.cta-btn.btn-disabled
                - if event.type == 'Diversity'
                  Come visit!
                - else
                  Coming soon!
            - else
              %a.btn.cta-btn.accent{href:event.event_url}
                - if event.type == 'Diversity'
                  Come visit!
                - else
                  Join Us!
.center-horizontal
  %nav
    %ul.pagination
      %li
        %a{href:"#"}
          <<
      %li
        %a{href:"#"}
          1
      %li
        %a{href:"#"}
          >>
